<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chart!</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css"></style>
    </head>
    <body>
        <div>
            <h2>Výrobní rozvrh...</h2>
            <div id="controls">
                <button id="draw">Draw!</button>
            </div>
            <div id="chart"></div>
        </div>
        <script> var chart; </script>
        <script type="module">
            import Chart from '/js/chart.js';

            // TODO into js vanilla
            $(document).ready(function() {

                $("#draw").click(function() {
                    $.get("/go", function(data) {
                        console.log(data);
                        chart = new Chart(data);
                    });
                });

            });
        </script>
    </body>
</html>
