<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chart!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@9.1.1/dist/css/autoComplete.min.css">
        <link rel="stylesheet" href="/css/styles.css"></style>
        <link rel="stylesheet" href="/css/multiselect-dropdown.css"></style>
    </head>
    <body>
        <div>
            <h2>Výrobní rozvrh...</h2>
            <div class="features">
                <div id="control">
                    <button id="draw">Draw!</button>
                </div>
                <div>
                    <input id="search" type="text">
                </div>
                <div>
                    <input id="picker" type="text">
                </div>
                <div>
                    <form
                        id='uploadForm' 
                        action='http://localhost:3003/upload' 
                        method='post' 
                        enctype="multipart/form-data">
                            <input type="file" name="dbFile" />
                            <input type='submit' value='Upload!' />
                    </form>     
                </div>
                <div>
                    <select id="filter"></select>
                </div>
            </div>
            <div id="chart"></div>
        </div>

        <!-- <script src="main.js"></script> -->
        <script>
            const data = JSON.parse('<%- data %>');
            console.log(data);
        </script>

        <script> var chart; </script>
        <script type="module">
            import Chart from '/js/chart.js';

            // TODO into js vanilla
            $(document).ready(function() {


                $("#draw").click(function() {
                    $.get("/go", function(data) {
                        console.log(data);
                        chart = new Chart(data);
                    });
                });

            });
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@9.1.1/dist/js/autoComplete.min.js"></script>
        <script src="multiselect-dropdown.min.js"></script>
    </body>
</html>
