<!doctype html>
<html>
    <%- include('partials/head.html'); %>
    <body>
        <%- include('partials/header.html'); %>

        <main role="main" class="main-page">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Album example</h1>
                    <p class="lead text-muted">
                        Something short and leading about the collection below—its contents, the creator, etc.
                        Make it short and sweet, but not too short so folks don't simply skip over it entirely.
                    </p>
                    <p>
                        <form
                            action='/upload' 
                            method='post' 
                            enctype="multipart/form-data">
                                <div id="drawButton" style="display: none;">
                                    <input type="submit" value="Draw!" class="btn btn-outline-primary btn-lg"/>
                                </div>
                                <div>
                                    <label>
                                        <input type="file" name="dbFile" style="display: none;" accept=".db">
                                        <a class="btn btn-outline-secondary my-2">Upload file</a>
                                    </label>
                                </div>
                                <div id="fileName" style="display: none;"></div>
                        </form>
                    </p>
                </div>
            </section>
        </main>

        <%- include('partials/footer.html'); %>

        <script>
            $(document).ready(function() {
                $('input[name="dbFile"]').on('change', function() {
                    const filename = this.value.replace(/.*[\/\\]/, ''); 

                    $('#fileName').html(filename).show();
                    $('#drawButton').show();
                })
            });
        </script>
    </body>
</html>
