#chart {
    max-height: 80vh;
    max-width: max-content;
    overflow: scroll;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: none;
    background: #f5f5f5;
}

#draw {
    margin-right: 20px;
    margin-left: 10px;
}

#filter {
    margin-right: 5px;
}

.header {
    display: flex;
    width: max-content;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-corner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    position: sticky;
    left: 0;
    background: burlywood;
    border-radius: 7px;
}

.header-timeline {
    display: flex;
    background: gainsboro;
    border-radius: 7px;
}

.header-timeline .upper {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-timeline .lowers {
    height: 50%;
    display: flex;
    align-items: center;
}

.header-timeline .lower.selected {
    background-color: darkseagreen;
    border-radius: 7px;
}

.header-timeline .upper.selected {
    background-color: darkseagreen;
    border-radius: 7px;
}

.grid-row {
    fill: #f5f5f5;
    stroke: #e8e8e8;
}

.column-line {
    stroke: #e8e8e8;
}

.bar {
    fill: #b0e0e6;
    stroke: darkslategrey;
}

.bar[data-type='iterating'] {
    fill: #ed928c;
}

.bar[data-type='installing'] {
    fill: #aaeda4;
}

.bar[data-type='starting'] {
    fill: #f0ee95;
}

.bar-text {
    stroke: black;
}

.content {
    display: flex;
    width: max-content;
}

.content-panel {
    width: 170px;
    position: sticky;
    left: 0;
    background: gainsboro;
    border-radius: 7px;
    z-index: 5;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 3px;
    text-transform: uppercase;
    background: darkgray;
    border-radius: 7px;
}

.category-btns {
    display: flex;
    justify-content: space-between;
    width: 55px;
}

.category-btns > div {
    width: 16px;
    height: 16px;
    cursor: pointer;
    user-select: none;
}

.category-btns .display.show {
    content: url(/img/show.png);
}

.category-btns .display.hide {
    content: url(/img/hide.png);
}

.category-btns .select {
    content: url(/img/select-all.png);
}

.category-btns .collaps.down {
    content: url(/img/collapse-down.png);
}

.category-btns .collaps.up {
    content: url(/img/collapse-up.png);
}

.resource {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
}

.resource.selected {
    background-color: darkseagreen;
    border-radius: 7px;
}

.resource .res-selector {
    margin-right: 5px;
    cursor: pointer;
}

.resource .res-id {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.resource .res-id:hover {
    overflow: visible;
}

.grid-break {
    background: darkgray;
    border-radius: 7px;
}

.view-button {
    text-transform: uppercase;
}

.view-button.selected {
    background: burlywood;
}

.popup {
    height: 90%;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    padding: 5px;
    background-color: darkseagreen;
    animation: fadein 0.5s;
    z-index: 200;
}

.popup .op-state {
    text-transform: uppercase;
}

.popup .res {
    display: inline;
}

.popup .res-type {
    display: inline;
    text-transform: uppercase;
}

.popup-blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    z-index: 15;
}

.popup-layer {
    width: 0px;
    height: 0px;
    position: relative;
    z-index: 50;
}

.popup table {
    border-spacing: 0;
}

.popup td:first-child {
    text-align: right;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

#autoComplete_list {
    top: auto !important; 
    left: auto !important;
    right: auto !important;
}

.features {
    display: flex;
    justify-content: space-between;
}

.multiselect-container {
    width: max-content;
}

.multiselect-container > li > a > label {
    padding: 3px 30px 3px 20px !important;
}

.multiselect-container > li.iterating {
    background-color: #ed928c;
}

.multiselect-container > li.installing {
    background-color: #aaeda4;
}
.multiselect-container > li.starting {
    background-color: #f0ee95;
}